*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f6f8;
    color: #111827;
}
header{
    padding: 10px;
    background-color: #1f2937;
    margin-bottom: 5px;
}
.logo h2{
    color:white;
    font-size:32px;
}
.logo h2 span{
    color: #10b981;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    font-size: 16px;
    color: aqua;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}
.links ul{
    display: flex;
    justify-content: center;
    align-self: center;
    gap:15px;
    list-style: none;
}

.button input {
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;

    color: #333;
    background-color: white;
}
.button input:hover {
    background-color: #333;
    color: white;
}
main{
    display: grid;
    grid-template-columns: 250px 1fr;
}
.left-sidebar{
    padding: 20px;
    background-color: #1f2937;
}
.left-sidebar ul {
    list-style: none;
}
.left-sidebar li{
    margin-bottom: 8px;
}
.left-sidebar a{
    display: block;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
    padding: 10px;
    transition: 0.3s;
    border-radius: 6px;
}
.left-sidebar a:hover{
     color: white;
    background-color: #10b981;
}
.side-list h3 {
    margin-bottom: 20px;
    font-size: 20px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 20px;
}

.card{
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.card h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.card p{
    color: #666;
    margin-bottom: 15px;
}
.card span {
    display: inline-block;
    padding: 5px 10px;
    background-color: lightgrey;
    font-size: 13px;
    border-radius: 15px;
}
.main-content{
    padding: 20px;
}
.project-list {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.project {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    transition: 0.3s;
}
.project:hover {
    transform: translateY(-5px);
}
.projects {
    margin-top: 30px;
}

.projects h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.project h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project p {
    color: #666;
    line-height: 1.5;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: maroon;
    color: white;
}
.footer .links {
    display: flex;
    gap: 15px;
}
.footer .links a {
    text-decoration: none;
    color: aqua;
    transition: 0.3s;
}

.footer .links a:hover {
    color: white;
}
/* Responsive Media Querry FOr MObile */
@media (max-width: 768px){
    main{
        /* We're changing from two columns → one column. */
        grid-template-columns: 1fr;
    }
        /* Make the cards one column on small screens */
     .cards {
        grid-template-columns: 1fr;
        }

        nav {
         flex-direction: column;
        gap: 15px;
            
        
        }
        .links ul {
        flex-direction: column;
        align-items: center;
        }
 
        .logo h2 {
    font-size: 26px;
    }
    .footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
    }   
    .project-list {
        grid-template-columns: 1fr;
    }
}